;; shadow-cljs configuration

{:source-paths ["src"]
 :dependencies [[proto-repl "0.3.1"]
                [cider/cider-nrepl "0.25.9"]
                [hiccups "0.3.0"]]
 :dev-http {8080 "public/"} ;; does this use cljs-shadow in public?
 :builds {:app-cli {:target :node-script
                    :output-to "main.js"
                    :main com.github.papz.fourclojure.core/init!}
          :app {:target :browser
                :output-dir "public/"
                :asset-path "."
                :modules {:main {:init-fn com.github.papz.whack.core/main!}}}}}
